nav {
	display:none;
}

body {
	font-family: 'Open Sans', sans-serif;;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	font-size: 1rem;
	font-weight: bold;
}

h4 {
	font-size: 1rem;
	float:left;
}

h5 {
	font-size: 0.75rem;
}

h6 {
	font-size: 0.5rem;
}

p {
	font-size: 1rem;
	color:#4A4A4A
}

li {
	font-size: 1rem;
	color:#4A4A4A
}

button {
	padding: 5px 35px 5px 35px;
	background-color: #F5A623;
	font-weight: bold;
	color: #FFF;
}

.social {
	float: right;
}

footer {
	margin: 10px 0 0 0;
	border-top: 2px solid black;
	width: 100%;
	float:left;
	display: block;
	padding: 5px 0 0 0;
}